/* samuel's work to apply.html */
.center-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    
}
.center-cont img {
    max-width: 100%;
    max-height: 100%;
}
p,h1 {
    text-align: center;
    font-size: medium;
}
#alert-message {
    color: red;
    padding: 1em;
}
h1 {
    font: small-caps 2em Georgia, serif;
}
aside {
    width:25%;
    float: right;
    border: 2px solid #3498db;
    padding:15px;
    box-sizing: border-box;
}